# The 'Record Attendance' page has an 'input var' for each person, and breaks if the PHP default of 1000 is used.
# So we increase this variable to an arbitrary high number.
php_value max_input_vars 100000
